<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full> 
   <vaadin-vertical-layout size-full :expand> 
    <vaadin-label size-auto _id="welcomeText" :middle :center> 
     <h1>Welcome to the iCrash Activator console!</h1> 
    </vaadin-label> 
   </vaadin-vertical-layout> 
   <vaadin-vertical-layout size-full :expand="6"> 
    <vaadin-panel caption="Set system date and time" size-auto _id="contentPanel" :center> 
     <vaadin-grid-layout spacing margin _id="gridLayout"> 
      <row> 
       <column> 
        <vaadin-label size-auto plain-text _id="dateText" :middle>
          Select a date 
        </vaadin-label> 
       </column> 
       <column> 
        <vaadin-popup-date-field _id="date" :middle></vaadin-popup-date-field> 
       </column> 
       <column> 
        <vaadin-button immediate width="70px" _id="nowBtn" :middle :center>
          Now 
        </vaadin-button> 
       </column> 
      </row> 
      <row> 
       <column> 
        <vaadin-label size-auto plain-text _id="hourText" :middle>
          Select an hour 
        </vaadin-label> 
       </column> 
       <column> 
        <vaadin-slider immediate width="200px" _id="hourSlider" :middle></vaadin-slider> 
       </column> 
       <column> 
        <vaadin-text-field style-name="align-center" immediate width="70px" _id="inputHour" :middle :center></vaadin-text-field> 
       </column> 
      </row> 
      <row> 
       <column> 
        <vaadin-label size-auto plain-text _id="minuteText" :middle>
          Select a minute 
        </vaadin-label> 
       </column> 
       <column> 
        <vaadin-slider immediate width="200px" _id="minuteSlider" :middle></vaadin-slider> 
       </column> 
       <column> 
        <vaadin-text-field style-name="align-center" immediate width="70px" _id="inputMinute" :middle :center></vaadin-text-field> 
       </column> 
      </row> 
      <row> 
       <column> 
        <vaadin-label size-auto plain-text _id="secondText" :middle>
          Select a second 
        </vaadin-label> 
       </column> 
       <column> 
        <vaadin-slider immediate width="200px" _id="secondSlider" :middle></vaadin-slider> 
       </column> 
       <column> 
        <vaadin-text-field style-name="align-center" immediate width="70px" _id="inputSecond" :middle :center></vaadin-text-field> 
       </column> 
      </row> 
      <row> 
       <column rowspan="2"></column> 
       <column> 
        <vaadin-button style-name="primary" plain-text _id="setTimeBtn">
          Set date and time 
        </vaadin-button> 
       </column> 
      </row> 
      <row></row> 
     </vaadin-grid-layout> 
    </vaadin-panel> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>