<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full> 
   <vaadin-vertical-layout size-full _id="header" :expand> 
    <vaadin-label size-auto _id="welcomeText" :middle :center> 
     <h1>Welcome to the iCrash MsrCreator console!</h1> 
    </vaadin-label> 
   </vaadin-vertical-layout> 
   <vaadin-vertical-layout spacing size-full _id="content" :expand="6"> 
    <vaadin-panel caption="Enter a number of ComCompanies" size-auto _id="contentPanel" :center> 
     <vaadin-grid-layout spacing size-full margin _id="gridLayout"> 
      <row> 
       <column> 
        <vaadin-label size-auto plain-text _id="nr">
          Number of ComCompanies 
        </vaadin-label> 
       </column> 
       <column> 
        <vaadin-text-field _id="textField"></vaadin-text-field> 
       </column> 
      </row> 
      <row> 
       <column></column> 
       <column> 
        <vaadin-button style-name="primary" plain-text _id="createSysEnvBtn">
          Create sys and env 
        </vaadin-button> 
       </column> 
      </row> 
     </vaadin-grid-layout> 
    </vaadin-panel> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>